@import url("https://fonts.googleapis.com/css2?family=Anton&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: #270f03;
  color: #eeeeed;
}

html {
  scroll-behavior: smooth; 
}

body {
  background-color: #ffe9cf;
  transition: all 0.3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Anton", sans-serif;
}

a,
p,
span,
li {
  font-family: "Work Sans", sans-serif;
}
